@import url("node_modules/normalize.css/normalize.css");

body {
  background-color: #282B30;
  margin: 2% 0;
}  

.names {
  display: flex;
  flex-wrap: wrap;
  grid-column: span 1;
  padding: 20px;
}

.name-player {
  margin-top: 10px;
}

.meta {
  display: flex;
  flex-wrap: wrap;
  grid-column: span 2;
}

.meta > *  {
  padding: 10px;
  flex: 1 1 24%;
}

.sheet {
  width: 100%;
  height: 75%;
  display: grid;
  grid-template-columns: repeat(3, 300px);
  grid-gap: 1em;
  justify-content: center;
  font-family: 'Quicksand', sans-serif;
}

.sheet > div {
  background-color: #D5D8DC;
  border: 2px solid white;
  border-radius: 7px;
}

.sheet * input {
  border: none;
  border-bottom: 1px solid black;
  font-size: 14px;
}

.sheet * input:active {
  border: none;
}

.sheet * label {
  display: flex;
}

textarea {
  resize: none;
}