@import url("node_modules/normalize.css/normalize.css");

.name {
    display: flex;
    justify-content: center;
  }

  .name input:placeholder-shown {
    border: none;
  }

  .name input {
    border: 1px solid black;
  }

  .name input:focus {
    border: 1px solid black;
  }
  
  .meta {
    background-color: red;
    width: 50%;
  }